* {
  font-family: "Roboto", serif;
}

html, body {
  margin: 0;
  padding: 0;
}

.header {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: gray;
  padding: 15px 30px;
}

.header-container {
  background-color: gray;
}

.home-link {
  color: white;
  font-weight: 900;
  font-size: 25px;
  text-decoration: none;
}

.hero {
  background-color: yellow;
}

.hero-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-description .hero-title {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.hero-title {
  padding-bottom: 100px;
  margin-bottom: 200px;
}

.hero-img-container {
  padding: 20px 20px;
}

#hero-img {
  border-radius: 5px;
}

.hero-description .hero-desc {
  display: flex;
  flex: 0 0 auto;
  margin-left: 40px;
}

.hero-description .hero-para {
  display: flex;
  flex: 0 0 auto;
  margin-left: 40px;
}

.content {
  background-color: gray;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  
}

.ingredients .steps {
  flex: 0 0 auto;
  display: flex;
}

.ingredients {
  margin-left: 40px;
}

.steps {
  margin-left: 40px;
}

